/* Base stuff */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Mixins*/
@font-face {
  font-family: 'Helios Regular';
  src: url("../fonts/Helios Regular.eot");
  src: url("../fonts/Helios Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Helios Regular.woff") format("woff"), url("../fonts/Helios Regular.ttf") format("truetype"), url("../fonts/Helios Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helios Bold';
  src: url("../fonts/Helios Bold.eot");
  src: url("../fonts/Helios Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helios Bold.woff") format("woff"), url("../fonts/Helios Bold.ttf") format("truetype"), url("../fonts/Helios Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  font-family: 'Helios Regular';
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: auto;
}

::-webkit-input-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

:-moz-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

.main-contacts {
  display: table;
  font-family: 'Helios Bold';
}
.main-contacts_item {
  display: table-cell;
  border-right: 1px solid #000000;
}
.main-contacts_item:last-child {
  border-right: none;
}
.main-contacts .time-contacts {
  width: 210px;
  font-size: 16px;
}
.main-contacts .address-contacts {
  width: 280px;
  font-size: 17px;
  padding-left: 30px;
}
.main-contacts .phone-contacts {
  width: 265px;
  font-size: 22px;
  padding-left: 25px;
}
.main-contacts .group-contacts {
  margin-top: 10px;
  margin-bottom: 10px;
}
.main-contacts .group-contacts:first-of-type {
  margin-top: 0;
}
.main-contacts_img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.main-contacts .text-section {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
}
.main-contacts .text-section span {
  font-family: 'Helios Regular';
  margin-right: 8px;
}

/* Pages */
.header-top {
  padding: 10px 0;
}
.header-top:after {
  content: "";
  display: table;
  clear: both;
}
.header-top .logo-section {
  float: left;
  margin: 5px 0;
}
.header-top .header-contacts {
  float: right;
}
.header-top .header-contacts .main-contacts_item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  border-top: 5px solid #a24501;
  background: #6e2f01;
  padding: 15px 0;
}
.footer .container:after {
  content: "";
  display: table;
  clear: both;
}
.footer .footer-contacts {
  float: left;
  color: #fff;
}
.footer .footer-contacts .main-contacts_item {
  border-right-color: #a1785a;
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer .footer-contacts .time-contacts {
  padding-top: 20px;
}
.footer .footer-contacts .address-contacts {
  width: 345px;
  padding-left: 40px;
}
.footer .footer-contacts .phone-contacts {
  padding-left: 35px;
  width: 280px;
}
.footer .socials-f {
  float: right;
}
