/* Base stuff */
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Mixins*/
@font-face {
  font-family: 'Helios Light';
  src: url("../fonts/Helios Light.eot");
  src: url("../fonts/Helios Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Helios Light.woff") format("woff"), url("../fonts/Helios Light.ttf") format("truetype"), url("../fonts/Helios Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helios Regular';
  src: url("../fonts/Helios Regular.eot");
  src: url("../fonts/Helios Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Helios Regular.woff") format("woff"), url("../fonts/Helios Regular.ttf") format("truetype"), url("../fonts/Helios Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helios Bold';
  src: url("../fonts/Helios Bold.eot");
  src: url("../fonts/Helios Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Helios Bold.woff") format("woff"), url("../fonts/Helios Bold.ttf") format("truetype"), url("../fonts/Helios Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Helios Light";
}

h5 {
  font-family: "Helios Regular";
  font-size: 18px;
  text-transform: uppercase;
}

.container {
  width: 1170px;
  margin: auto;
}

.content {
  padding-top: 25px;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
.content .sidebar {
  width: 275px;
  float: left;
}
.content .main-content {
  width: 870px;
  float: right;
}

::-webkit-input-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

:-moz-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

.main-contacts {
  display: table;
  font-family: "Helios Regular";
}
.main-contacts_item {
  display: table-cell;
  border-right: 1px solid #000000;
}
.main-contacts_item:last-child {
  border-right: none;
}
.main-contacts .time-contacts {
  width: 210px;
  font-size: 16px;
}
.main-contacts .address-contacts {
  width: 280px;
  font-size: 17px;
  padding-left: 30px;
}
.main-contacts .phone-contacts {
  width: 265px;
  font-size: 22px;
  padding-left: 25px;
}
.main-contacts .group-contacts {
  margin-top: 18px;
  margin-bottom: 18px;
}
.main-contacts .group-contacts:first-of-type {
  margin-top: 0;
}
.main-contacts_img {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.main-contacts .text-section {
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
}
.main-contacts .text-section span {
  font-family: "Helios Light";
  margin-right: 8px;
}

.main-product {
  width: 210px;
  background: #fff;
  border: 1px solid #b7b7b7;
}
.main-product .product-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  height: 335px;
}
.main-product .product-img {
  height: 170px;
  display: table;
  width: 100%;
  background: red;
}
.main-product .product-img .product-img_inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.main-product .product-name {
  color: #212121;
  font-family: "Helios Regular";
  padding: 0 12px;
  margin-top: 10px;
}
.main-product .product-text {
  color: #212121;
  padding: 0 12px;
}
.main-product .product-footer {
  padding: 0 12px;
  border-top: 1px solid #cfcfcf;
}
.main-product .product-price {
  font-size: 24px;
  color: #a24501;
  font-family: "Helios Regular";
}
.main-product .product-count {
  font-size: 12px;
  color: #212121;
}

/* Pages */
.header-top {
  padding: 10px 0;
}
.header-top:after {
  content: "";
  display: table;
  clear: both;
}
.header-top .logo-section {
  float: left;
  margin: 5px 0;
}
.header-top .header-contacts {
  float: right;
  color: #4e4e4e;
}
.header-top .header-contacts .main-contacts_item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-bot {
  background: #a24501;
}
.header-bot:after {
  content: "";
  display: table;
  clear: both;
}
.header-bot .header-nav {
  float: left;
}
.header-bot .header-nav .nav-list:after {
  content: "";
  display: table;
  clear: both;
}
.header-bot .header-nav .nav-list .nav-item {
  float: left;
  margin-right: 25px;
  position: relative;
}
.header-bot .header-nav .nav-list .nav-item:last-child {
  margin-right: 0;
}
.header-bot .header-nav .nav-list .nav-item_link {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  font-family: "Helios Regular";
  text-decoration: none;
  padding: 15px 5px 11px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header-bot .header-nav .nav-list .nav-item:hover .nav-item_link {
  background: #6e2f01;
}
.header-bot .header-nav .nav-list .nav-item:hover .dropdown {
  visibility: visible;
  opacity: 1;
}
.header-bot .header-nav .nav-list .dropdown {
  position: absolute;
  width: 260px;
  left: 0;
  top: 100%;
  background: rgba(255, 255, 255, 0.94);
  padding: 13px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header-bot .header-nav .nav-list .dropdown .dropdown-item {
  margin-top: 3px;
  margin-bottom: 3px;
}
.header-bot .header-nav .nav-list .dropdown .dropdown-link {
  display: block;
  color: #212121;
  font-size: 16px;
  padding: 5px 20px 4px;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  line-height: 1.2;
}
.header-bot .header-nav .nav-list .dropdown .dropdown-link:hover {
  color: #864206;
  background: rgba(0, 0, 0, 0.1);
}
.header-bot .left-section {
  float: right;
}
.header-bot .left-section .search {
  display: inline-block;
  vertical-align: top;
}
.header-bot .left-section .search .search-input_wrap {
  overflow: hidden;
  width: 40px;
  height: 36px;
  position: relative;
  margin-right: 5px;
  margin-top: 4px;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.header-bot .left-section .search .search-input_wrap.show-input {
  width: 250px;
  border-color: #fff;
}
.header-bot .left-section .search .search-input_wrap .search-input {
  display: block;
  background: none;
  border: none;
  width: 100%;
  padding: 7px 44px 9px 10px;
  font-size: 16px;
  color: #fff;
  outline: none;
}
.header-bot .left-section .search .search-input_wrap .search-btn {
  display: block;
  width: 40px;
  height: 34px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: url(../img/icons/search.png) no-repeat center;
}
.header-bot .left-section .request-call {
  display: inline-block;
  font-size: 16px;
  padding: 16px 14px 11px;
  font-family: "Helios Regular";
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.32);
}

.footer {
  margin-top: 50px;
  border-top: 5px solid #a24501;
  background: #6e2f01;
  padding: 15px 0;
}
.footer .container:after {
  content: "";
  display: table;
  clear: both;
}
.footer .footer-contacts {
  float: left;
  color: #fff;
}
.footer .footer-contacts .main-contacts_item {
  border-right-color: #a1785a;
  vertical-align: top;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer .footer-contacts .time-contacts {
  padding-top: 20px;
}
.footer .footer-contacts .address-contacts {
  width: 345px;
  padding-left: 40px;
}
.footer .footer-contacts .phone-contacts {
  padding-left: 35px;
  width: 280px;
}
.footer .socials-f {
  float: right;
  padding-top: 15px;
  text-align: center;
}
.footer .socials-f .social-text {
  font-size: 12px;
  color: #fff;
}
.footer .socials-f .socials-inner {
  margin-top: 15px;
}
.footer .socials-f .social {
  margin-left: 2px;
  width: 31px;
  height: 30px;
  display: inline-block;
  background: url(../img/icons/socials-f.png);
}
.footer .socials-f .social.vk:hover {
  background-position: 0 -30px;
}
.footer .socials-f .social.fb {
  background-position: -36px 0;
}
.footer .socials-f .social.fb:hover {
  background-position: -36px -30px;
}
.footer .socials-f .social.twitter {
  background-position: -73px 0;
}
.footer .socials-f .social.twitter:hover {
  background-position: -73px -30px;
}
.footer .socials-f .social.youtube {
  background-position: -109px 0;
}
.footer .socials-f .social.youtube:hover {
  background-position: -109px -30px;
}
.footer .copyright {
  text-align: right;
  font-size: 10px;
  color: #fff;
  line-height: 1.2;
  padding-bottom: 15px;
}

.sidebar-catalog {
  margin-bottom: 20px;
}
.sidebar-catalog ul.sidebar-nav {
  padding: 15px 0;
  background: #515151;
}
.sidebar-catalog ul.sidebar-nav > li {
  position: relative;
}
.sidebar-catalog ul.sidebar-nav > li:before {
  content: '';
  position: absolute;
  left: 16px;
  top: 11px;
  width: 6px;
  height: 6px;
  background: #7e7e7e;
}
.sidebar-catalog ul.sidebar-nav > li.open:before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.sidebar-catalog ul.sidebar-nav > li > a {
  padding: 5px 10px 5px 35px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  line-height: 1.2;
}
.sidebar-catalog ul.sidebar-nav > li > a:hover {
  background: #764c2d;
}
.sidebar-catalog ul.sidebar-nav > li ul.sidebar-subnav li {
  position: relative;
}
.sidebar-catalog ul.sidebar-nav > li ul.sidebar-subnav li:before {
  content: '';
  position: absolute;
  left: 37px;
  top: 11px;
  width: 14px;
  height: 1px;
  background: #c8c8c8;
}
.sidebar-catalog ul.sidebar-nav > li ul.sidebar-subnav li a {
  padding: 5px 5px 5px 58px;
  display: block;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}
.sidebar-catalog ul.sidebar-nav > li ul.sidebar-subnav li a:hover {
  background: #764c2d;
}
.sidebar-catalog .download-pdf {
  text-align: center;
  padding: 8px 0;
}
.sidebar-catalog .download-pdf a {
  font-family: 'Helios Regular';
  font-size: 18px;
  color: #000000;
}
.sidebar-catalog .download-pdf a:hover {
  text-decoration: none;
}
.sidebar-partners {
  padding: 25px 0 15px;
  text-align: center;
  background: #b26731;
}
.sidebar-partners h5 {
  margin-bottom: 20px;
  color: #ffffff;
}
.sidebar-partners a.partner {
  margin: 7px;
  display: inline-block;
}
