@font-face {
    font-family: 'Helios Regular';
    src: url('../fonts/Helios Regular.eot');
    src: url('../fonts/Helios Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helios Regular.woff') format('woff'),
         url('../fonts/Helios Regular.ttf') format('truetype'),
         url('../fonts/Helios Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helios Bold';
    src: url('../fonts/Helios Bold.eot');
    src: url('../fonts/Helios Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helios Bold.woff') format('woff'),
         url('../fonts/Helios Bold.ttf') format('truetype'),
         url('../fonts/Helios Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
  	font-size: 14px;
  	font-family: 'Helios Regular';
}
* {
  @include box-sizing(border-box);
}
.container {
	width: 1170px;
	margin: auto;
}

::-webkit-input-placeholder {
  color: #999999;
}

::-moz-placeholder {
  color: #999999;
}

:-moz-placeholder {
  color: #999999;
}

:-ms-input-placeholder {
  color: #999999;
}

.main-contacts {
  display: table;
  font-family: 'Helios Bold';

  &_item {
    display: table-cell;
    border-right: 1px solid #000000;


    &:last-child {
      border-right: none;
    }
  }

  .time-contacts {
    width: 210px;
    font-size: 16px;
  }

  .address-contacts {
    width: 280px;
    font-size: 17px;
    padding-left: 30px;
  }

  .phone-contacts {
    width: 265px;
    font-size: 22px;
    padding-left: 25px;
  }

  .group-contacts {
    margin-top: 10px;
    margin-bottom: 10px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  &_img {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
  }

  .text-section {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.2;


    span {
      font-family: 'Helios Regular';
      margin-right: 8px;
    }
  }
}

