.header-top {
  padding: 10px 0;
  @include clearfix;

  .logo-section {
    float: left;
    margin: 5px 0;
  }

  .header-contacts {
    float: right;

    .main-contacts_item {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}