.sidebar {

	&-catalog {
		margin-bottom: 20px;
		ul.sidebar-nav {
		padding: 15px 0;
		background: #515151;
			> li {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					left: 16px;
					top: 11px;
					width: 6px;
					height: 6px;
					background: #7e7e7e;
				}
				&.open:before {
					@include border-radius (50%);
				}
				> a {
					padding: 5px 10px 5px 35px;
					display: block;
					font-size: 18px;
					color: $white;
					text-decoration: none;
					line-height: 1.2;
					&:hover {
						background: #764c2d;
					}
				}
				ul.sidebar-subnav {
					li {
						position: relative;
						&:before {
							content: '';
							position: absolute;
							left: 37px;
							top: 11px;
							width: 14px;
							height: 1px;
							background: #c8c8c8;
						}
						a {
							padding: 5px 5px 5px 58px;
							display: block;
							font-size: 15px;
							text-decoration: none;
							color: $white;
							&:hover {
								background: #764c2d;
							}
						}
					}
				}
			}
		}
		.download-pdf {
			text-align: center;
			padding: 8px 0;
			a {
				font-family: 'Helios Regular';
				font-size: 18px;
				color: $black;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	&-partners {
		padding: 25px 0 15px;
		text-align: center;
		background: #b26731;
		margin-bottom: 20px;
		h5 {
			margin-bottom: 20px;
			color: $white;
		}
		a.partner {
			margin: 7px;
			display: inline-block;
			img {
				border: 1px solid transparent;
				&:hover {
					border-color: #cbcbcb;
				}
			}
		}
	}

	&-news {
		padding: 25px 0 15px;
		background: #515151;
		margin-bottom: 20px;
		h5 {
			text-align: center;
			margin-bottom: 5px;
			color: $white;
		}
		ul {
			li {
				padding: 15px;
				color: $white;
				border-bottom: 1px solid #9f9f9f;
				&:last-child {
					border-bottom-color: transparent;
				}
				h4 {
					margin-bottom: 10px;
					a {
						font-family: $bold;
						font-size: 15px;
						color: $white;
						&:hover {
							text-decoration: none;
						}
					}
				}
				p {
					font-size: 15px;
					line-height: 1.3;
				}
				.date {
					display: block;
					padding-top: 12px;
					padding-left: 40px;
					font-family: $bold;
					font-size: 15px;
					margin-bottom: 20px;
					position: relative;
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						width: 29px;
						height: 29px;
						background: url(../img/icons/date.png);
					}
				}
			}
		}
		.news-archive {
			padding-left: 15px;
			text-align: left;
			a {
				font-size: 15px;
				color: $white;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

}